<div class="max-w-sm bg-white border-1 border-gray-300 p-4 rounded-md tracking-wide shadow-lg mb-3">
  <div id="header" class="flex items-center">
     <div id="header-text" class="leading-5 ml-6 sm">
         <h4 id="name" class="text-xl font-semibold">{{ FIRST_NAME }} {{ LAST_NAME }}</h4>
         <h5 id="job" class="font-semibold text-blue-600">{{ EMAIL }}</h5>
     </div>
  </div>
</div>
