<h2>afterend</h2>
<p>Appends the content after the target in the targets parent element</p>
<pre>
<code class="language-html">
<script type="prism-html-markup">
    <div id="formWrapper">
        <form hx-post='/your-apps-endpoint' hx-target="#response" hx-swap="afterend">
            <!-- form fields or other content -->
            <button type="submit">Submit</button>
        </form>

        <div id="response">
        </div>
        <!-- The response would be placed here. After the #response div -->
    </div>
</script>
</code>
</pre>
