<div id="textToSwap" hx-swap-oob="true" class="animate-fade-in">
    <h3>{{ TIME | date('F d, Y h:m:s') }}</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna nunc, consectetur nec felis et, fermentum egestas magna. Etiam finibus sapien ut quam bibendum porta. Nam eget velit id justo pellentesque porta sed volutpat erat. Sed efficitur libero et felis pellentesque luctus. Aliquam erat volutpat. Duis consectetur urna ante. Maecenas egestas magna ac neque bibendum bibendum. </p>
</div>